body {
    margin: 10px;
    font-family: 'Abel';
    text-align: center;
    width: 580px;
   align-items: center;
   margin-left: 350px;
   background-color:seashell;
  }
  
  .container {
    display: grid;
    grid-template-columns: 180px 180px 180px;
    justify-content: center;
    cursor: pointer;
    transition: height 0.5s ease ease-in-out ;
    border-radius: 5px;
    gap: 10px;
  }
  .item {
    color: white;
  }
 
.a {
    gap: 10px;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
}
    